Source: peppermint-artwork
Section: x11
Priority: optional
Maintainer: Kendall Weaver <kendall@peppermintos.com>
Build-Depends: debhelper (>= 7), intltool, icon-naming-utils
Standards-Version: 3.8.3
Homepage: http://peppermintos.com/

Package: peppermint-artwork
Architecture: all
Depends: ${misc:Depends}, gtk2-engines-murrine, libnewt0.52 (>= 0.52.11-2ubuntu7)
Description: artwork for Peppermint OS
 Artwork for Peppermint, contained the wallpaper and others specific images
 and logos.

Package: plymouth-theme-peppermint-logo
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, plymouth, plymouth-label
Provides: plymouth-theme
Replaces: plymouth (<< 0.8.1-1~), lubuntu-plymouth-theme
Conflicts: peppermint-plymouth-theme
Description: plymouth theme for Peppermint OS
 This package contain a specific Peppermint theme for plymouth.

Package: plymouth-theme-peppermint-text
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, plymouth, plymouth-label
Provides: plymouth-theme
Replaces: plymouth (<< 0.8.1-1~)
Description: plymouth text theme for Peppermint OS
 This package contain a blank black theme for plymouth.

