include "Styles/Gradients/Globalmenu/default.rc"
include "Styles/Menubar/menubar-default.rc"
include "Styles/Menubar/No-Gtk/menubar-flat.rc"
include "Styles/Notebook/notebook-default.rc"
include "Styles/Tabs/tabs-light.rc"
include "Styles/Tabs/No-Gtk/tabs-light.rc"
include "Styles/Tabs/Mozilla/tabs-light.rc"
include "Styles/Sliders/scrollbars-wide.rc"
include "Styles/Menu/menu.rc"
include "Styles/Menu-Item/menu-item-squared.rc"
include "Styles/Panel/panel-dark-default.rc"
include "Styles/Expanders/arrow.rc"
